.portfolio__link{
    width: 29px;
    height: 50px;
    background-image: url(../../../images/main/portfolio/portfolio_arrow.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.portfolio__link:hover{
    opacity: 0.6;
}
@media screen and (max-width: 767px){
    .portfolio__link{
        width: 18px;
        height: 28px;
    }
}