.movies{
    background-color: #202020;
    min-height: calc(100vh - 246px);
    padding-left: 70px;
    padding-right: 70px;
}

@media screen and (min-width: 768px) and (max-width: 1139px){
    .movies{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (max-width: 767px){
    .movies{
        padding-left: 10px;
        padding-right: 10px;
        min-height: calc(100vh - 344px);
    }
}