.search-form__input{
    min-width: 0;
    width: 100%;
    margin: 0;
    border: none;
    padding: 0 10px 0 10px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    background-color: #222222;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.search-form__input:focus{
    outline: none;
}