.login{
    display: flex;
    flex-direction: column;
    max-width: 396px;
    background-color: #202020;
}

@media screen and (max-width: 767px){
    .login{
        padding-right: 30px;
        padding-left: 30px;
    }
}