.header__link_type_normal{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    background:
    linear-gradient(
      to right, #FFFFFF, #FFFFFF
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
    background-size: 0 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
.header__link_type_normal:hover {
    background-size: 0 3px, 100% 3px;
}

@media screen and (min-width: 768px) and (max-width: 1139px){
    .header__link_type_normal{
        background-size: 100% 3px, 0 3px;
        padding: 0 0 4px 0;
    }
}
@media screen and (max-width: 767px){
    .header__link_type_normal{
        background-size: 100% 3px, 0 3px;
        padding: 0 0 4px 0;
    }
}