.footer__title{
    margin: 0;
    text-align: center;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #8B8B8B;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    padding-bottom: 20px;
}
@media screen and (max-width: 767px){
    .footer__title{
        font-size: 12px;
        line-height: 15px;
    }
}