.about-me__avatar{
    width: 270px;
    height: 327px;
}
@media screen and (min-width: 768px) and (max-width: 1139px){
    .about-me__avatar{
        width: 255px;
        height: 307px;
    }
}
@media screen and (max-width: 767px){
    .about-me__avatar{
        width: 292px;
        height: 352px;
        padding-bottom: 40px;
    }
}